input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
html, body {
    margin:0;
    padding:0;
    overflow:hidden;
    height:100%
}


.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}

@media (min-aspect-ratio: 16/9) {
    .video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video {
        width: 300%;
        left: -100%;
    }
}

.button {
    width:263px;
    height:35px;
    outline: 0;
    padding: 5px 12px;
    color: #9fa8b0;
    font-weight: bold;
    font-size:17px;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.button:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
}
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}

.input{
    width:255px;
    height:35px;
    border-radius:4px;
    border:1px solid #9fa8b0;
    padding-left:3px;
    display:block;
    margin:auto;
    margin-bottom:13px;
    background-color: rgba(999,999,999,0.7);

}
.input:first-child{
    margin-bottom:13px;
}

.header{
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.login-signup-page{
    position:relative;
    top:25vh;
    text-align: center;
    height:368px;
}



