/*


.workout-list-container{

    margin-top:10px;
    margin-bottom:10px;

}

.workout-list{

    margin-top:10px;
    margin-bottom:10px;

}

.selected-workout-button{
    margin-top:10px;
    margin-bottom:10px;


}
!*

.date-picker-container{

    margin-top:10px;
    margin-bottom:10px;

}

.date-picker-header{
    display:inline;
}
*!

.selected-workout-button{
    margin:3px;
}

.kg-rep div{
    display:inline;
}

a{
    text-decoration:none !important;
}




.line-graph-container{
    display:inline-block;
    float:left;
}*/

.thumbnail{
    position:relative;
}

.thumbnail-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    display:none;
}
.thumbnail-overlay.done{
    display: block;
}

.thumbnail-footer{
    position:relative;
}

.check-icon{
    display: block;
    margin: auto;
    margin-top: 45px;
}