.workout-list-container{
    border:5px solid red;
    margin-top:10px;
    margin-bottom:10px;

}

.workout-list{
    border:5px solid blue;
    margin-top:10px;
    margin-bottom:10px;

}

.selected-workout-button{
    margin-top:10px;
    margin-bottom:10px;


}

.date-picker-container{
    border:5px solid green;
    margin-top:10px;
    margin-bottom:10px;

}

.date-picker-header{
    display:inline;
}